.sidenav_header{
    line-height: 4vw;
    padding-left: 3.6vw;
    padding-right: 6.8vw;
    background-color: hsla(0,0%,100%,.05);
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}