/* Structure */
.query-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.query-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  max-width: 70%
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.query_play:hover{
  font-size:24px; 
  color: green;
  -webkit-transition: 0.5s ;
  -moz-transition: 0.5s ;
  transition: 0.5s ;
  cursor: pointer;
}