<div>
    <menu-section-heading [heading] = "heading" [caretClass] = "caretClass" (click) = "toggleSection()"></menu-section-heading>
    <p-tree [value]="files" selectionMode="single" *ngIf = "!hideSection">
        <ng-template let-node  pTemplate="parent">
            <div [routerLink]="['/dashboard']" routerLinkActive="hierarchy_active">{{node.label}}</div>
        </ng-template>
        <ng-template let-node  pTemplate="default">
            <div [routerLink]="['/dish',node.id]" routerLinkActive="hierarchy_active"><i class="fa fa-cutlery" [class.green] = "node.running" [class.red] = "!node.running"></i> &nbsp;{{node.label}}</div>
        </ng-template>
    </p-tree>
</div>
