<div [ngClass]="getAccordianClass()">
  <mat-progress-bar
          class="example-margin"
          color="warn"
          mode="indeterminate" *ngIf = "isProcessing">
  </mat-progress-bar>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="name">{{dish?.name}} </div>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <span class="text_id">
      <i class="fa fa-info icon"></i>{{dish?.id}} <i class="fa fa-external-link externalLink" [routerLink] = "['/dish',dish?.id]"></i>
    </span>
    <span class="spacer"></span>
    <span class="text_id">
      <i class="fa fa-h-square icon"></i>{{dish?.host}}
    </span>
    <span class="_button_row">
      <span>
        <button mat-raised-button color="primary" [disabled] = "!dish?.running" (click)="reIndex()">Re-Index</button>
      </span>
    <span class="btn_spacer"></span>
    <span>
        <button mat-raised-button color="warn" [disabled] = "!dish?.running" (click)="shutdown()">Stop</button>
      </span>
    </span>
  </mat-expansion-panel>
</div>